*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --width: 14rem;
  --hight: 6rem;
  --position: -7rem;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* main container */
.main-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 30% 30%;
  margin-top: 3rem;
  gap: 10%;
}
/* .circle-container {
  width: 50%;
} */
/* table */
.table {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* align-items: center; */
  justify-content: center;
  padding-top: 10rem;
  /* height: 100vh; */
}
.title-container {
  /* text-align: center; */
  font-size: xx-large;
  padding-bottom: 6rem;
}
/* btn */
.btn-start {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 1rem;
  background: #fbca1f;
  font-family: inherit;
  /* padding: 0.6em 1.3em; */
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  /* box-shadow: 0.1em 0.1em; */
}
.btn-start:hover {
  scale: 1.02;
  /* transform: scale(1.1); */

  /* transform: translate(-0.0005em, -0.0005em);
  box-shadow: 0.15em 0.15em; */
}

.btn-start:active {
  /* transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em; */
}
/* blink */
.blink {
  animation: 0.5s linear forwards;
}
.circle {
  position: relative;
  height: var(--width);
  width: var(--width);
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  /* margin: auto; */
  margin-top: 5rem;
}
.trapezoid {
  position: absolute;
  /* border: 1px solid green; */
  /* animation-name: moveIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
  transition: all 0.2s linear;
}
.trapezoid:hover {
  scale: 1.1;
}
/* .check {
  background-image: url(./imgs/check.png);
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center;
} */

.trapezoid.top {
  top: var(--position);
  height: var(--hight);
  width: var(--width);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  background-color: blue;
}
.trapezoid.right {
  /* animation-name: moveIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  right: var(--position);
  height: var(--width);
  width: var(--hight);
  background-color: blueviolet;
}
.trapezoid.bottom {
  height: var(--hight);
  width: var(--width);
  bottom: var(--position);
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  background-color: brown;
}
.trapezoid.left {
  height: var(--width);
  width: var(--hight);
  left: var(--position);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  background-color: cadetblue;
}
/* deck */
.deck {
  position: absolute;
  height: calc(2.5 * var(--width));
  width: calc(2.5 * var(--width));
  border: 1px solid black;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
/* @keyframes moveIn {
  100% {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
} */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media (max-width: 900px) {
  :root {
    --width: 10rem;
    --hight: 4rem;
    --position: -5rem;
  }
  .main-container {
    grid-template-columns: 1fr;
    gap: 15rem;
  }
  .circle {
    /* left: 43%; */
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  .table {
    gap: 2rem;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 5rem;
    text-align: center;

    /* height: 100vh; */
  }
  .title-container {
    padding-bottom: 1rem;
    font-size: xx-large;
  }
}
@media (max-width: 500px) {
  :root {
    --width: 7rem;
    --hight: 3rem;
    --position: -3.5rem;
  }
  .main-container {
    gap: 10rem;
  }
  .title-container {
    font-size: larger;
  }
}
